body {
   margin: 0;
   height: 100vh;
   width: 100vw;
   position: relative;
}

.body {
   height: 100%;
   width: 100%;
   position: relative;
   overflow: hidden; 
   background-color: #000000;
   z-index: 2;
}

#bg {
   position: absolute;
   height: 110%;  
   width: 110%;  
   top: -5%;  
   left: -5%;  
   z-index: 1;
}

.title, .subtext, .choices, .choice {
   position: relative;
   z-index: 3;
}

h1 {
   font-size: 3em;
   text-align: center;
   margin-top: 50px;
   margin: 10px;
   padding: 0px;
}

.subtext {
   text-align: center;
   font-size: 2em;
}

.choices
